* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf)
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf)
}


@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Bold.ttf)
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Regular.ttf)
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0px auto;
}

.header {
    background-image: url(../images/global-image.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.global-media-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

/* **********logo**************** */
.logo img {
    width: 100%;
}

/* ********** nav-bar************ */
.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul a {
    text-decoration: none;
    padding: 0px 20px;
    font-family: 'Roboto-Bold';
    color: #9b9b9a;
    font-size: 13px;
    text-transform: uppercase;
}

.sign-up{
    display: none;
}

/* ************* cs-btn ********** */
.cs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.cs-btn h4 {
    font-family: 'Roboto-Medium';
    font-size: 18px;
    color: #fff;
    font-weight: 100;
}

.cs-btn a {
    font-family: 'Roboto-bold';
    text-decoration: none;
    background-color: #fff;
    color: #181818;
    font-size: 13px;
    padding: 18px 60px;
    text-transform: uppercase;
    border-radius: 50px;
}

/* *********global-agency*********** */
.global-agency-title {
    padding-bottom: 30px;
}

.global-agency {
    width: 100%;
    margin: 200px 0px 0px 0px;
    text-align: center;
    padding-bottom: 300px;
}

.global-agency-title h1 {
    font-family: 'Roboto-Bold';
    font-size: 60px;
    color: #ffffff;
}

.global-cs-btn a {
    font-family: 'Roboto-Bold';
    text-decoration: none;
    color: #ffffff;
    padding: 15px 35px;
    background: linear-gradient(to right, #df4927 0%, #f39f31 100%);
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
}

/* ******************section boxes ************** */
.wrapper-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 82px;
    margin-top: -120px;
}

.box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 40px 55px 40px 55px;
    background-color: #ffffff;
}

.box h1 {
    font-family: 'Roboto-Bold';
    color: #282828;
    font-size: 28px;
}

.box p {
    color: #7d7d7d;
    font-family: 'Roboto-Light';
    font-weight: 400;
    width: 100%;
    max-width: 260px;
    line-height: 25px;
    padding: 15px 0px;
    margin: auto;
    font-size: 14px;
}

.box-cs-btn {
    display: flex;
    align-items: center;
    gap: 25px;
}

.box-cs-btn h2 {
    font-family: 'Roboto-Bold';
    background-color: #f3a032;
    color: #ffffff;
    padding: 14px 30px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 50px;
}

.box-cs-btn a {
    text-decoration: none;
    color: #5b5b5b;
    font-size: 14px;
    text-transform: capitalize;
    font-family: 'Roboto-Bold';
}

#active {
    background: #f3a032;
}

#active a {
    color: #ffffff;
}

#active h1 {
    color: #ffffff;
}

#active p {
    color: #ffffff;
}

#active h2 {
    background-color: #ffffff;
    color: #282828;
}

.box:hover a {
    color: #ffffff;
}

.box:hover h1 {
    color: #ffffff;
}

.box:hover p {
    color: #ffffff;
}

.box:hover {
    background-color: #f3a032;
}

.box:hover h2 {
    background-color: #ffffff;
    color: #282828;
}

/* **************why we************* */
.why-we-title {
    width: 100%;
    text-align: center;
    padding: 100px 0px 60px 0px;
}

.why-we-title h1 {
    font-family: 'Roboto-Bold';
    color: #282828;
    font-size: 50px;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.why-we-title span {
    font-family: 'Roboto-Light';
    font-weight: bolder;
    color: #767676;
    font-size: 17px;
}

.why-we-wrap {
    display: flex;
    align-items: stretch;
    gap: 35px;
    flex-wrap: wrap;
    padding-bottom: 60px;
    justify-content: center;
}

.why-we-para-box p {
    width: 100%;
    max-width: 290px;
    color: #767676;
    font-family: 'Roboto-Light';
    font-weight: bolder;
    margin: auto;
    font-size: 16px;
    line-height: 35px;
    padding: 20px 0px;
}

/* ************** working-section************************ */
.working-background {
    background-color: #f6f6f6;
    width: 100%;
    padding: 150px 0px
}

.why-we-working {
    width: 100%;
    padding: 0px 0px 100px 0px;
    text-align: center;
}

.why-we-working h1 {
    font-family: 'Roboto-Bold';
    color: #282828;
    font-size: 45px;
    text-transform: capitalize;
    padding-bottom: 18px;
}

.why-we-working span {
    font-family: 'Roboto-Light';
    font-weight: bolder;
    color: #767676;
    font-size: 16px;
}

.why-working-para-box {
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding: 60px 50px 60px 50px;
    background-color: #fff;
}

.why-working-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 47px;
}

.why-working-para-box h3 {
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    font-size: 36px;
}

#active {
    color: #ffffff;
    background-color: #f39f31;
}

.why-working-para-box:hover {
    background-color: #f3a032;
}

.why-working-para-box:hover h3 {
    color: #ffffff;
}

/* ******************* section mobile advertiser*********************  */
.wrap-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 210px;
    flex-wrap: wrap;
    padding: 140px 0px 80px 0px;
}

.mobile-title h1 {
    font-family: 'Roboto-Bold';
    font-size: 50px;
    color: #282828;
    padding-bottom: 12px;
}

.mobile-title p {
    color: #767676;
    font-size: 17px;
    width: 100%;
    font-family: 'Roboto-Light';
    font-weight: bolder;
    max-width: 564px;
    margin: auto;
    line-height: 36px;
    padding-bottom: 10px;
}

.mobile-title span {
    font-family: 'Roboto-Bold';
    color: #f3a032;
    text-transform: uppercase;
    font-size: 13.8px;
    text-decoration: underline;
}

.mobile-btn-image {
    padding-top: 40px;
    display: flex;
    gap: 20px;
}

.mobile-image img {
    width: 100%;
}

/* ******************************agencies********************************** */
.Agencies-background {
    background-color: #f6f6f6;
    width: 100%;
    padding: 150px 0px 100px 0px;
}

.Agencies-title {
    padding-left: 29px;
}

.Agencies-title h1 {
    font-family: 'Roboto-Bold';
    color: #282828;
    font-size: 50px;
    padding-bottom: 10px;
}

.Agencies-title span {
    color: #767676;
    font-family: 'Roboto-Light';
    font-size: 16px;
    width: 100%;
    display: block;
    line-height: 35px;
    font-weight: bolder;
    margin: 0px 0px;
    max-width: 560px;
    padding-bottom: 70px;
}

.Agencies-list ul li {
    list-style: none;
    width: 100%;
    margin: -25px 0px 0px 0px;
    font-size: 16px;
    max-width: 625px;
    font-family: 'Roboto-Light';
    font-weight: bolder;
    padding-left: 49px;
    line-height: 30px;

    color: #767676;
}

.Agencies-list ul {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 22px;
}

.fa-check:before {
    background-color: #f3a032;
    color: #ffffff;
    padding: 7px 7px;
    border-radius: 50px;
}

/* ********************publisher************************ */
.publisher-background {
    background-image: url(../images/publisher-img.png);
    width: 100%;
    padding: 130px 0px; 
    position: relative;
    opacity: 10;
    height: 100%;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.publisher-tile {
    width: 100%;
    text-align: center;
    float: left;
}

.publisher-tile h1 {
    color: #ffffff;
    font-family: 'Roboto-Bold';
    text-transform: capitalize;
    font-size: 50px;
    padding-bottom: 10px;
}

.publisher-tile span {
    color: #767676;
    font-family: 'Roboto-Regular';
    display: block;
    width: 100%;
    line-height: 35px;
    font-size: 16px;
    margin: auto;
    max-width: 660px;
    padding-bottom: 100px;
}

.video-icon {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

i.fa.fa-play {
    border: 6px solid #ffffff;
    border-radius: 50px;
    padding: 12px 18px;
    width: 60px;
    font-size: 25px;
    height: 60px;
}

/* **************fact-tile***************************** */
.fact-background {
    width: 100%;
    padding: 90px 0px;
}

.fact-tile {
    width: 100%;
    text-align: center;
}

.fact-tile h1 {
    font-family: 'Roboto-Bold';
    font-size: 50px;
    color: #282828;
    padding-bottom: 20px;
}

.fact-tile span {
    font-family: 'Roboto-Light';
    color: #767676;
    font-size: 16px;
    width: 100%;
    display: block;
    line-height: 30px;
    font-weight: bolder;
    margin: auto;
    max-width: 675px;
    padding-bottom: 85px;
}

.fact-wrap {
    display: flex;
    justify-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.Fact-image {
    text-align: center;
}

.fact-wrap h4:hover {
    text-align: center;
    border-bottom: 3px solid #f3a032;
}

.fact-wrap h4 {
    font-family: 'Roboto-Bold';
    padding-top: 25px;
    color: #282828;
    text-align: center;
    line-height: 32px;
    max-width: 176px;
    font-size: 16px;
    margin: auto;
    width: 100%;
    border-bottom: 3px solid #f39f3200;
}

/* *****************map-image****************** */
.map-image {
    background-image: url(../images/map.png);
    width: 100%;
    background-repeat: no-repeat;
    padding: 140px 0px;
    background-position: center;
}

.map-title {
    text-align: center;
    margin: auto;
    width: 70%;
    padding: 100px 0px;
    background-color: #ffffff;
}

.map-title span {
    font-family: 'Roboto-Bold';
    color: #b0b0b0;
    padding: 160px 0px;
}

.map-title h2 {
    font-family: 'Roboto-Bold';
    color: #282828;
    font-size: 36px;
    padding: 10px 0px 25px 0px;
}

/* *****************copyright******************** */
.social-wrap {
    width: 100%;
    text-align: center;
    padding: 50px 0px;
}

.copyright h4 {
    font-family: 'Roboto-Light';
    font-weight: 800;
    color: #767676;
    width: 47%;
    margin: auto;
    line-height: 30px;
    padding-bottom: 20px;
}

.social-icons {
    color: #767676;
}

.social-icons i {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 23px;
}

/* ********************media-queries******************* */
@media screen and (max-width: 1400px) {
    .global-media-wrapper {
        padding: 15px 40px 15px 40px;
    }

    .Agencies-title {
        text-align: center;
    }

    .Agencies-title span {
        width: 100%;
        max-width: 100%;
    }
}

/* *************1200px ******************** */
@media screen and (max-width: 1200px) {
    .global-media-wrapper {
        padding: 15px 25px 15px 25px;
    }

    .nav-bar ul a {
        padding: 0px 8px;
    }
}

/* ****************************992************************* */
@media only screen and (max-width: 992px) {
    header {
        padding-right: 30px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0px;
    }

    .sign-up {
        display: block;
        background-color: #47474794;
        border-radius: 50px;
    }
    li.sign-up a {
        padding: 18px 60px;
    }
    .nav-bar {
        height: 0px;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #000000;
        transition: 0.5s;
        overflow: hidden;
        z-index: 1;
    }

    .nav-bar.active {
        height: 703px;
    }

    .cs-btn {
        display: none;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 30px auto 30px auto;
        text-align: center;
        transition: 0.2s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
        padding: 100px 0px 0px 0px;

    }

    .nav-bar ul li a {
        margin-bottom: 30px;
        color: #ffffff;
        margin-top: 30px;
        display: block;
    }

    .box {
        margin-bottom: -50px;
    }
}

@media only screen and (max-width: 768px) {
    .why-we-title h1 {
        padding-top: 50px;
    }

    .why-working-wrap {
        display: block;
    }

    .mobile-title {
        margin: 0px 30px;
    }

    .why-working-para-box {
        margin-bottom: 20px;
        text-align: center;
    }

    .mobile-btn-image {
        display: block;
    }

    .mobile-btn-image img {
        margin-bottom: 20px;
    }

    .Agencies-background {
        padding: 40px 20px 20px 20px;
    }

    .mobile-image {
        margin-top: -160px;
    }

    .publisher-background {
        padding: 50px 30px;
    }

    .fact-background {
        padding: 50px 30px;
    }

    .map-title {
        width: 100%;
        padding: 60px 0px
    }

    .copyright h4 {
        width: 85%
    }

    .global-agency-title h1 {
        font-size: 30px;
    }
    .global-agency{
        margin: 45px 0px 0px 0px;
        padding-bottom: 173px;
    }
    .working-background {
        padding: 60px 30px;
    }
    .wrap-mobile {
        padding: 80px 0px 50px 0px;
    }
}
@media only screen and (max-width: 567px) {
    .box{
        padding: 40px 30px 40px 30px;
    }
    .map-title h2 {font-size: 30px;}
    .why-we-working h1{font-size: 30px;}
}